
{% extends "base.html" %}
<!doctype html>
<html>
    {% block content %}
    <head>
    <title>HOME Page  </title>
    </head>

    
    <body>
    <h1>{{today}}<h1>

    <h1>this is simple flask app which is deploy on Heroku</h1>
        <h2 style="color:blue;">created by : Kunal Padhiyar</h2>
        <h2 style="color:red;">contact no: +91 - 72658 - 93033</h2>
        <h2 style="color:red;">mail:padhiyarkunal78@gmail.com</h2>
       

    <h1>for Iris flower prediction press here<a href="/get_data"><button>Next</button></a></h1>

    </body>
    
    {% endblock %}
</html>
